{% extends "base.html" %}

{% block content %}
    <!-- Page content-->
    <section class="introduction">
        <div class="container">
            <h1>Hey there! Welcome to Coinlog</h1>
            <hr>
            <p>我們可以幫助你分析幣安中的交易紀錄</p>
            <p>We can help you to analyze your trade on Binance, Just create an account and link your Binance API!</p>
            <p>You can search Binance trade ticker whatever you like, Then you will see your all trade history,totle cost,profit...etc on your personal dashboard!</p>
            <p>When you create your API key on binance, at the API restrictions just select <a style="color:red;">Enable Reading</a>, so no one can take your money out.</p>
            <img src="static/assets/crypto_3.PNG" class="center">
            <p style="color:red">If you did not select another restrictions then nobody can do any trade on your account.</p>
        </div>
      </section>
{% endblock %}

<!--Design from Bryan lin: https://github.com/bryanlin16899 -->

